<h1 class="page-header">Contact me</h1>
<div class="row">
	<div class="col-lg-4">
		<form action="/send_message" method="post">
			<div class="form-group">
				<label>Name</label>
				<input name="name" class="form-control" type="text">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input name="email" class="form-control" type="text-area">
			</div>
			<div class="form-group">
				<label>Content</label>
				<textarea name="content" class="form-control" type="text" rows="5"></textarea>
			</div>
			<div class="actions">
				<input class="btn btn-default" type="submit">
			</div>
		</form>
	</div>
</div>
