<h1 class="page-header">Syllabus + Schedule</h1>
<div id="syllabus">
	<p><a href="/assets/CDES3225_syllabus_FALL2013_revised.pdf">CDES3225 Syllabus Fall 2013</a></p>
	<hr>
	<p><a href="/assets/CDES3225_Schedule_Fall2013.pdf">CDES3225 Schedule Fall 2013</a></p>
	<hr>
	<p><a href="/assets/syllabus_policies_Fall_2013.pdf">CDES3225 Syllabus Policies Fall 2013</a></p>
</div>

