div#posts {
	img {
		 max-width: 100%;
	}
}

h1.page-header {
	font-weight: 300;
}

#tag_cloud {
  .s { font-weight: 100; font-size: .8em; }
  .m { font-weight: 300; font-size: 1em;  }
  .l { font-weight: 400; font-size: 1.4em; }
}

.navbar {
	background-color: #fff;
}

div.side-panel {

	margin-bottom: 25px;

	h3 {
		padding: 10px 0;
		border-top: 1px dotted black;
		border-bottom: 1px dotted black;
		margin-bottom: 15px;
	}	

	hr {
		clear: both;
	}

	.book {

		img {
			max-width: 90px;
			float: left;
			margin: 0 15px 15px 0;
			border: 1px solid #eee;
		}
	}		
}

/************************ footer ************************/

footer {
	margin: 45px 0 80px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
	clear: both;

	small {
		float: left;
	}

	a {
		color: #555;

		&:hover {
			color: #222;
		}
	}

	span {
		color: #555;
	}

	ul {
		float: right;

		li {
			float: left;
			list-style-type: none;
			margin-left: 20px;
		}
	}
}