<footer class="footer">
	<small><span>Copyright &copy; CEDS3225 App</span> by <a href="http://davidortizfrau.me/">David Ortiz Frau</a></small>
	<nav>
		<ul>
			<li><%= link_to "Instructor", admin_path %></li>
			<li><%= link_to "Contact", '#', id: "contact_me" %></li>

		</ul>
	</nav>
</footer>