<footer class="footer">
	<small><span>Copyright &copy; CEDS3225 App</span> by David Ortiz</small>
	<nav>
		<ul>
			<li><%= link_to "Instructor Login", admin_path %></li>
			<li><%= link_to "Contact", '#', id: "contact_me" %></li>

		</ul>
	</nav>
</footer>