<footer class="footer">
	<small>Copyright &copy; CDES 3225 App by <a href="http://davidortizfrau.me/"><span>David Ortiz Frau</span></a></small>
	<nav>
		<ul>
			<li><%= link_to "Instructor", admin_path %></li>
			<li>
				<a href="mailto:bahrnsbr@msudenver.edu?Subject=What" tatget="_blank">Contact</a>
			</li>
			<!-- <li><%= link_to "Contact", '#', id: "contact_me" %></li> -->

		</ul>
	</nav>
</footer>