<footer class="footer">
	<small>Copyright &copy; CDES 3225 App by <a href="http://davidortizfrau.me/"><span>David Ortiz Frau</span></a></small>
	<nav>
		<ul>
			<li><%= link_to "Instructor", admin_path %></li>
			<li>
				<a href="<%= contact_path %>" tatget="_blank">Contact</a>
			</li>


		</ul>
	</nav>
</footer>